body {
    background-color: #555555;
    font-family:arial, sans-serif;
}

#container {
    position:relative;
}

title {
    font-color: #000000;
    font-family:arial, sans-serif;
}

#board {
    position:absolute;
    top:50px;
    left:50px;
    background-color: #000000;
    width:572px;
    height:572px;
    border-width:1px 0 0 1px;
    border-style:solid;
    border-color:#777777;
}

#board .square {
    position:relative;
    width:51px;
    height:51px;
    float:left;
    border-width:0 1px 1px 0;
    border-style:solid;
    border-color:#777777;
    cursor:pointer;
}

#board .square:hover {
    background-color:#777777;
}

#board .square .coords {
    position:absolute;
    display:block;
    color:#666666;
    top:2px;
    left:2px;
    font-size:10px;
}

#board .square.teleport .icon {
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    font-size:50px;
    color:#888888;
    top:15px;
    left:15px;
}

#pattern {
    position:absolute;
    width:300px;
    height:100px;
    background-color:#ffffff;
    border:1px solid #777777;
    top:50px;
    left:642px;
}

#inventory {
    position:absolute;
    width:300px;
    height:100px;
    background-color:#ffffff;
    border:1px solid #777777;
    top:50px;
    left:642px;
}
